{% load staticfiles %}
<div class="second-body clearfix">
        <div class="miao-sha">
            <div class="miao-sha-head ">
                <div class="miao-sha-icon fl">
                    <a href="#" class="fl"><img src="{% static 'img/icon/home_miaosha_title.png' %}" alt=""></a>
                    <div class="clock-area fl">
                        <span class="fl" style="margin-right: 10px"><img src="{% static 'img/icon/alarm.png' %}" alt=""></span>
                        <input type="text" id="clock-hour"><span class="semicolon">:</span>
                        <input type="text" id="clock-minute"><span class="semicolon">:</span>
                        <input type="text" id="clock-second">
                    </div>
                </div>
                <div class="miao-sha-time fl">
                    <ul class="miao-sha-period ">
                        <li>
                            <a class="miao-sha-period" href="#"><span class="time-bucker">00:00</span><span>场</span></a>
                        </li>
                        <li>
                            <a class="miao-sha-period" href="#"><span class="time-bucker">00:00</span><span>场</span></a>
                        </li>
                        <li>
                            <a class="miao-sha-period" href="#"><span class="time-bucker">00:00</span><span>场</span></a>
                        </li>
                        <li>
                            <a class="miao-sha-period" href="#"><span class="time-bucker">00:00</span><span>场</span></a>
                        </li>
                        <li>
                            <a class="miao-sha-period" href="#"><span class="time-bucker">00:00</span><span>场</span></a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="miao-sha-body">
                <ul class="miao-sha-body-items">
                    <li>
                        <a href="#" class="ms-b-i-pic"><img src="{% static 'img/book.jpg' %}" alt=""> </a>
                        <div class="ms-b-i-line">
                            <div class="ms-b-i-line-process"></div>
                            <span class="ms-process-num">已秒杀 <span>85%</span></span>
                        </div>
                        <div class="ms-item-title"><a href="#">莎士比亚悲剧喜剧全集·朱生豪译</a></div>
                        <div class="ms-price">
                            <span class="ms-price-name">秒杀价：</span>
                            <span class="real-price">
                                <span class="price-symbol">￥</span>
                                <span class="real-price-num">59</span>
                            </span>

                            <span class="old-price">
                                 <span class="price-symbol">￥</span>
                                <span class="real-price-num">59</span>
                            </span>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="ms-b-i-pic"><img src="{% static 'img/book.jpg' %}" alt=""> </a>
                        <div class="ms-b-i-line">
                            <div class="ms-b-i-line-process"></div>
                            <span class="ms-process-num">已秒杀 <span>85%</span></span>
                        </div>
                        <div class="ms-item-title"><a href="#">莎士比亚悲剧喜剧全集·朱生豪译</a></div>
                        <div class="ms-price">
                            <span class="ms-price-name">秒杀价：</span>
                            <span class="real-price">
                                <span class="price-symbol">￥</span>
                                <span class="real-price-num">59</span>
                            </span>

                            <span class="old-price">
                                 <span class="price-symbol">￥</span>
                                <span class="real-price-num">59</span>
                            </span>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="ms-b-i-pic"><img src="{% static 'img/book.jpg' %}" alt=""> </a>
                        <div class="ms-b-i-line">
                            <div class="ms-b-i-line-process"></div>
                            <span class="ms-process-num">已秒杀 <span>85%</span></span>
                        </div>
                        <div class="ms-item-title"><a href="#">莎士比亚悲剧喜剧全集·朱生豪译</a></div>
                        <div class="ms-price">
                            <span class="ms-price-name">秒杀价：</span>
                            <span class="real-price">
                                <span class="price-symbol">￥</span>
                                <span class="real-price-num">59</span>
                            </span>

                            <span class="old-price">
                                 <span class="price-symbol">￥</span>
                                <span class="real-price-num">59</span>
                            </span>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="ms-b-i-pic"><img src="{% static 'img/book.jpg' %}" alt=""> </a>
                        <div class="ms-b-i-line">
                            <div class="ms-b-i-line-process"></div>
                            <span class="ms-process-num">已秒杀 <span>85%</span></span>
                        </div>
                        <div class="ms-item-title"><a href="#">莎士比亚悲剧喜剧全集·朱生豪译</a></div>
                        <div class="ms-price">
                            <span class="ms-price-name">秒杀价：</span>
                            <span class="real-price">
                                <span class="price-symbol">￥</span>
                                <span class="real-price-num">59</span>
                            </span>

                            <span class="old-price">
                                 <span class="price-symbol">￥</span>
                                <span class="real-price-num">59</span>
                            </span>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="ms-b-i-pic"><img src="{% static 'img/book.jpg' %}" alt=""> </a>
                        <div class="ms-b-i-line">
                            <div class="ms-b-i-line-process"></div>
                            <span class="ms-process-num">已秒杀 <span>85%</span></span>
                        </div>
                        <div class="ms-item-title"><a href="#">莎士比亚悲剧喜剧全集·朱生豪译</a></div>
                        <div class="ms-price">
                            <span class="ms-price-name">秒杀价：</span>
                            <span class="real-price">
                                <span class="price-symbol">￥</span>
                                <span class="real-price-num">59</span>
                            </span>

                            <span class="old-price">
                                 <span class="price-symbol">￥</span>
                                <span class="real-price-num">59</span>
                            </span>
                        </div>
                    </li>


                </ul>
                <ul class="miao-sha-body-items">
                      <li>
                        <a href="#" class="ms-b-i-pic"><img src="{% static 'img/book.jpg' %}" alt=""> </a>
                        <div class="ms-b-i-line">
                            <div class="ms-b-i-line-process"></div>
                            <span class="ms-process-num">已秒杀 <span>85%</span></span>
                        </div>
                        <div class="ms-item-title"><a href="#">莎士比亚悲剧喜剧全集·朱生豪译</a></div>
                        <div class="ms-price">
                            <span class="ms-price-name">秒杀价：</span>
                            <span class="real-price">
                                <span class="price-symbol">￥</span>
                                <span class="real-price-num">59</span>
                            </span>

                            <span class="old-price">
                                 <span class="price-symbol">￥</span>
                                <span class="real-price-num">59</span>
                            </span>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="ms-b-i-pic"><img src="{% static 'img/book.jpg' %}" alt=""> </a>
                        <div class="ms-b-i-line">
                            <div class="ms-b-i-line-process"></div>
                            <span class="ms-process-num">已秒杀 <span>85%</span></span>
                        </div>
                        <div class="ms-item-title"><a href="#">莎士比亚悲剧喜剧全集·朱生豪译</a></div>
                        <div class="ms-price">
                            <span class="ms-price-name">秒杀价：</span>
                            <span class="real-price">
                                <span class="price-symbol">￥</span>
                                <span class="real-price-num">59</span>
                            </span>

                            <span class="old-price">
                                 <span class="price-symbol">￥</span>
                                <span class="real-price-num">59</span>
                            </span>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="ms-b-i-pic"><img src="{% static 'img/book.jpg' %}" alt=""> </a>
                        <div class="ms-b-i-line">
                            <div class="ms-b-i-line-process"></div>
                            <span class="ms-process-num">已秒杀 <span>85%</span></span>
                        </div>
                        <div class="ms-item-title"><a href="#">莎士比亚悲剧喜剧全集·朱生豪译</a></div>
                        <div class="ms-price">
                            <span class="ms-price-name">秒杀价：</span>
                            <span class="real-price">
                                <span class="price-symbol">￥</span>
                                <span class="real-price-num">59</span>
                            </span>

                            <span class="old-price">
                                 <span class="price-symbol">￥</span>
                                <span class="real-price-num">59</span>
                            </span>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="ms-b-i-pic"><img src="{% static 'img/book.jpg' %}" alt=""> </a>
                        <div class="ms-b-i-line">
                            <div class="ms-b-i-line-process"></div>
                            <span class="ms-process-num">已秒杀 <span>85%</span></span>
                        </div>
                        <div class="ms-item-title"><a href="#">莎士比亚悲剧喜剧全集·朱生豪译</a></div>
                        <div class="ms-price">
                            <span class="ms-price-name">秒杀价：</span>
                            <span class="real-price">
                                <span class="price-symbol">￥</span>
                                <span class="real-price-num">59</span>
                            </span>

                            <span class="old-price">
                                 <span class="price-symbol">￥</span>
                                <span class="real-price-num">59</span>
                            </span>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="ms-b-i-pic"><img src="{% static 'img/book.jpg' %}" alt=""> </a>
                        <div class="ms-b-i-line">
                            <div class="ms-b-i-line-process"></div>
                            <span class="ms-process-num">已秒杀 <span>85%</span></span>
                        </div>
                        <div class="ms-item-title"><a href="#">莎士比亚悲剧喜剧全集·朱生豪译</a></div>
                        <div class="ms-price">
                            <span class="ms-price-name">秒杀价：</span>
                            <span class="real-price">
                                <span class="price-symbol">￥</span>
                                <span class="real-price-num">59</span>
                            </span>

                            <span class="old-price">
                                 <span class="price-symbol">￥</span>
                                <span class="real-price-num">59</span>
                            </span>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
        <div class="factory-week">
            <div class="factory-week-title">
                <span>厂商周</span>
            </div>
            <div class="factory-week-body">
                <div class="factory-week-item">
                    <a href="#"><img src="{% static 'img/img3.jpg' %}" height="112" alt=""></a>
                </div>
                <div class="factory-week-item">
                    <a href="#"><img src="{% static 'img/img3.jpg' %}" height="112" alt=""></a>
                </div>
                <div class="factory-week-item">
                    <a href="#"><img src="{% static 'img/img3.jpg' %}" height="112" alt=""></a>
                </div>
                <div class="factory-week-item">
                    <a href="#"><img src="{% static 'img/img3.jpg' %}" height="112" alt=""></a>
                </div>

            </div>
        </div>
    </div>