{% load staticfiles %}
<div class="second-body clearfix">
    <div class="cl-head">
        <span class="cl-head-title fl">
            <a href="#">服装</a>
        </span>
        <div class="cl-category fr">
            <ul>
                <li class="cl-category-item-on">
                    <a href="#">服装鞋包</a>

                </li>
                <li>
                    <a href="#">服装鞋包</a>

                </li>
                <li>
                    <a href="#">服装鞋包</a>

                </li>
                <li>
                    <a href="#">服装鞋包</a>

                </li>
                <li>
                    <a href="#">服装鞋包</a>

                </li>
            </ul>
        </div>
    </div>
    <div class="cl-body">
        <div class="cl-body-top fl">
            <div class="cl-body-left">
                <div class="cl-l-img">
                    <img src="http://img63.ddimg.cn/upload_img/00657/6/I_01.jpg" alt="">
                </div>
                <div class="cl-l-category">
                    <ul>
                        <li><a href="#">跑步鞋</a></li>
                        <li><a href="#">跑步鞋</a></li>
                        <li><a href="#">跑步鞋</a></li>
                        <li><a href="#">跑步鞋</a></li>
                        <li><a href="#">跑步鞋</a></li>
                        <li><a href="#">跑步鞋</a></li>
                        <li><a href="#">跑步鞋</a></li>
                        <li><a href="#">跑步鞋</a></li>
                        <li><a href="#">跑步鞋</a></li>
                        <li><a href="#">跑步鞋</a></li>
                        <li><a href="#">跑步鞋</a></li>
                        <li><a href="#">跑步鞋鞋鞋</a></li>
                        <li><a href="#">跑步鞋x</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="cl-body-center fl">
            <div class="cl-category-item-cont">
                <div class="cl-cont-top">
                    <div class=" swiper-container cl-cont-swiper fl">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="#"><img src="http://img62.ddimg.cn/upload_img/00389/20160805/11111-11258.jpg"
                                                 alt=""></a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#"><img src="http://img62.ddimg.cn/upload_img/00389/20160805/11111-11258.jpg"
                                                 alt=""></a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#"><img src="http://img62.ddimg.cn/upload_img/00389/20160805/11111-11258.jpg"
                                                 alt=""></a>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                    <div class="cl-item-big fl">
                        <ul>
                            <li><a href="#"><img src="http://img55.ddimg.cn/180260039398885_y.jpg" alt=""></a></li>
                            <li><a href="#"><img src="http://img55.ddimg.cn/180260039398885_y.jpg" alt=""></a></li>
                            <li><a href="#"><img src="http://img55.ddimg.cn/180260039398885_y.jpg" alt=""></a></li>
                        </ul>
                    </div>
                </div>
                <div class="cl-cont-bottom">
                    <ul>
                        <li><a href=""> <img src="http://img61.ddimg.cn/upload_img/00584/1/20170413D.jpg" alt=""> </a>
                        </li>
                        <li><a href=""> <img src="http://img61.ddimg.cn/upload_img/00584/1/20170413D.jpg" alt=""> </a>
                        </li>
                        <li><a href=""> <img src="http://img61.ddimg.cn/upload_img/00584/1/20170413D.jpg" alt=""> </a>
                        </li>
                        <li><a href=""> <img src="http://img61.ddimg.cn/upload_img/00584/1/20170413D.jpg" alt=""> </a>
                        </li>
                        <li class="last-cl-cont"><a href=""> <img
                                src="http://img61.ddimg.cn/upload_img/00584/1/20170413D.jpg" alt=""> </a></li>
                    </ul>
                </div>
            </div>
            <div class="cl-category-item-cont hide">
                <div class="cl-cont-top">
                    <div class=" swiper-container cl-cont-swiper fl">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="#"><img src="http://img61.ddimg.cn/upload_img/00451/ZR/170518-3957pc-B1.jpg" alt=""></a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#"><img src="http://img61.ddimg.cn/upload_img/00451/ZR/170518-3957pc-B1.jpg" alt=""></a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#"><img src="http://img61.ddimg.cn/upload_img/00451/ZR/170518-3957pc-B1.jpg" alt=""></a>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                    <div class="cl-item-big fl">
                        <ul>
                            <li><a href="#"><img src="http://img57.ddimg.cn/99570028546697_y.jpg" alt=""></a></li>
                            <li><a href="#"><img src="http://img57.ddimg.cn/99570028546697_y.jpg" alt=""></a></li>
                            <li><a href="#"><img src="http://img57.ddimg.cn/99570028546697_y.jpg" alt=""></a></li>
                        </ul>
                    </div>
                </div>
                <div class="cl-cont-bottom">
                    <ul>
                        <li><a href=""> <img src="http://img55.ddimg.cn/90560037226495_y.jpg" alt=""> </a></li>
                        <li><a href=""> <img src="http://img55.ddimg.cn/90560037226495_y.jpg" alt=""> </a></li>
                        <li><a href=""> <img src="http://img55.ddimg.cn/90560037226495_y.jpg" alt=""> </a></li>
                        <li><a href=""> <img src="http://img55.ddimg.cn/90560037226495_y.jpg" alt=""> </a></li>
                        <li class="last-cl-cont"><a href=""> <img src="http://img55.ddimg.cn/90560037226495_y.jpg"
                                                                  alt=""> </a></li>
                    </ul>
                </div>
            </div>
            <div class="cl-category-item-cont hide">
                <h2>frist3</h2>
            </div>
            <div class="cl-category-item-cont hide">
                <h2>frist4</h2>
            </div>
            <div class="cl-category-item-cont hide">
                <h2>frist5</h2>
            </div>

        </div>

        <div class="cl-body-bottom fl">
            <div class=" swiper-container cl-bottom-swiper fl">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <ul>
                            <li><a href="#"><img
                                    src="http://img63.ddimg.cn/upload_img/00389/adidas/150911-11257pc-E.jpg"
                                    alt=""></a></li>
                            <li><a href="#"><img src="http://img57.ddimg.cn/85250018753697_y.jpg" alt=""></a></li>
                            <li><a href="#"><img src="http://img60.ddimg.cn/upload_img/00389/NB/150911-11181pc-E.jpg"
                                                 alt=""></a>
                            </li>
                            <li><a href="#"><img src="http://img59.ddimg.cn/115130028482509_y.jpg" alt=""></a></li>
                            <li><a href="#"><img src="http://img58.ddimg.cn/185210017300088_y.jpg" alt=""></a></li>
                            <li><a href="#"><img
                                    src="http://img63.ddimg.cn/upload_img/00389/adidas/150911-11257pc-E.jpg"
                                    alt=""></a></li>
                            <li><a href="#"><img src="http://img57.ddimg.cn/85250018753697_y.jpg" alt=""></a></li>
                            <li><a href="#"><img src="http://img60.ddimg.cn/upload_img/00389/NB/150911-11181pc-E.jpg"
                                                 alt=""></a>
                            </li>
                            <li><a href="#"><img src="http://img59.ddimg.cn/115130028482509_y.jpg" alt=""></a></li>
                            <li><a href="#"><img src="http://img58.ddimg.cn/185210017300088_y.jpg" alt=""></a></li>
                        </ul>
                    </div>
                    <div class="swiper-slide">
                        <ul>
                            <li><a href="#"><img
                                    src="http://img63.ddimg.cn/upload_img/00389/adidas/150911-11257pc-E.jpg"
                                    alt=""></a></li>
                            <li><a href="#"><img src="http://img57.ddimg.cn/85250018753697_y.jpg" alt=""></a></li>
                            <li><a href="#"><img src="http://img60.ddimg.cn/upload_img/00389/NB/150911-11181pc-E.jpg"
                                                 alt=""></a>
                            </li>
                            <li><a href="#"><img src="http://img59.ddimg.cn/115130028482509_y.jpg" alt=""></a></li>
                            <li><a href="#"><img src="http://img58.ddimg.cn/185210017300088_y.jpg" alt=""></a></li>
                            <li><a href="#"><img
                                    src="http://img63.ddimg.cn/upload_img/00389/adidas/150911-11257pc-E.jpg"
                                    alt=""></a></li>
                            <li><a href="#"><img src="http://img57.ddimg.cn/85250018753697_y.jpg" alt=""></a></li>
                            <li><a href="#"><img src="http://img60.ddimg.cn/upload_img/00389/NB/150911-11181pc-E.jpg"
                                                 alt=""></a>
                            </li>
                            <li><a href="#"><img src="http://img59.ddimg.cn/115130028482509_y.jpg" alt=""></a></li>
                            <li><a href="#"><img src="http://img58.ddimg.cn/185210017300088_y.jpg" alt=""></a></li>
                        </ul>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/widgets/clothArea.js' %}?v={{ version }}"></script>