{% load staticfiles %}
<!--header begin-->
<div class="page-header">
    <div class="top-bar bg-gray">
        <div class="common-width">
            <div class="left-area fl">
						<span>
							送至：
						</span>
                <span id="send-addr">
							北京
						</span>
                <span id="">

						</span>
            </div>

            <div class="right-area fr">

                <ul>
                    <li>
                        <a href="#">小说投稿</a>
                    </li>
                    <li>
                        <a href="#">小说投稿</a>
                    </li>
                    <li>
                        <a href="#">小说投稿</a>
                    </li>
                    <li>
                        <a href="#">小说投稿</a>
                    </li>
                </ul>

            </div>
            <div class="welcome-tool">
						<span id="">
							欢迎光临哗啦，请
						</span>
                <a id="login" href="#">登录</a>
                <a href="#">成为会员</a>
            </div>
        </div>
    </div>
    <div class="logo-bar">
        <div class="common-width">
            <div class="logo-area">
                <div class="logo fl">

                    <img src="{% static 'img/icon/logo.png' %}"/>
                </div>
                <div class="search-area">
                    <div class="search-box">

                        <input type="text" name="" id="search-text" class="search-text"/>
                        <div class="search-btn-area  fr">
                            <input type="button" id="search-btn"   class="search-btn"/>
                        </div>
                        <div class="search-category fr bg-gray">
									<span class="search-category-text">
										全部分类
									</span>
                        </div>
                    </div>
                    <div class="search-bottom gray">
								<span class="fl">
									<a href="#">热搜：</a>
								</span>
                        <span class="fr">
									<a href="#">高级搜索</a>
								</span>
                        <ul>
                            <li>
                                <a href="#">孤独星球</a>
                            </li>
                            <li>
                                <a href="#">孤独星球</a>
                            </li>
                            <li>
                                <a href="#">孤独星球</a>
                            </li>
                            <li>
                                <a href="#">孤独星球</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="shoping-area fr">
							<span class="shoping-car fl">
								购物车 <span id="">
									0
								</span>
							</span>
                    <div class="my-order-list fr">
                        我的订单
                    </div>
                </div>
            </div>
            <div class="logo-bottom">
                <div class="goods-category fl">
							<span class="goods-category-text">
							 	全部商品分类
							 </span>
                    <div class="goods-category-detail hide">
                        <ul>
                            <li><a href="#">图书</a>、<a href="#">童书</a>

                            </li>
                            <li><a href="#">图书</a></li>
                            <li><a href="#">图书</a></li>
                            <li><a href="#">图书</a></li>
                            <li><a href="#">图书</a></li>
                            <li><a href="#">图书</a></li>
                            <li><a href="#">图书</a></li>

                        </ul>
                    </div>
                    <div class="sub-goods-category hide">
                        <div class="sub-category-cont hide">
                            <div class="goods-category-tag">
                            <a href="#">图书馆<span>></span></a>
                            <a href="#">图书馆<span>></span></a>
                            <a href="#">图书馆<span>></span></a>
                            <a href="#">图书馆<span>></span></a>

                        </div>
                        <div class="goods-category-items">
                            <div class="goods-category-cont">
                                <dl>
                                    <dt>排行榜</dt>
                                    <dd>
                                        <a href="#">童书</a>
                                        <a href="#">童年书</a>
                                        <a href="#">黄书</a>
                                        <a href="#">哲学书</a>
                                        <a href="#">历史书</a>
                                        <a href="#">英语书文化</a>
                                        <a href="#">童书</a>
                                        <a href="#">童年书</a>
                                        <a href="#">黄书</a>
                                        <a href="#">哲学书</a>
                                        <a href="#">历史书</a>
                                        <a href="#">英语书文化</a>
                                        <a href="#" class="last-child">童书</a>
                                    </dd>
                                </dl>
                            </div>
                            <div class="goods-category-cont">
                                <dl>
                                    <dt>草泥马</dt>
                                    <dd>
                                        <a href="#">童年书</a>
                                        <a href="#">黄书</a>
                                        <a href="#">哲学书</a>
                                        <a href="#">历史书</a>
                                        <a href="#">英语书文化</a>
                                        <a href="#">童书</a>
                                        <a href="#">童年书</a>
                                        <a href="#">黄书</a>
                                        <a href="#">哲学书</a>
                                        <a href="#">历史书</a>
                                        <a href="#">英语书文化</a>
                                        <a href="#">童书</a>
                                        <a href="#">童年书</a>
                                        <a href="#">黄书</a>
                                        <a href="#">哲学书</a>
                                        <a href="#">历史书</a>
                                        <a href="#">英语书文化</a>
                                        <a href="#">童书</a>
                                        <a href="#">童年书</a>
                                        <a href="#">黄书</a>
                                        <a href="#">哲学书</a>
                                        <a href="#">历史书</a>
                                        <a href="#">英语书文化</a>
                                        <a href="#">童书</a>
                                        <a href="#">童年书</a>
                                        <a href="#">黄书</a>
                                        <a href="#">哲学书</a>
                                        <a href="#">历史书</a>
                                        <a href="#" class="last-child">英语书文化</a>


                                    </dd>
                                </dl>
                            </div>
                            <div class="goods-category-cont">
                                <dl>
                                    <dt>排行榜</dt>
                                    <dd>
                                        <a href="#">童书</a>
                                        <a href="#">哲学书</a>
                                        <a href="#">历史书</a>
                                        <a href="#">英语书文化</a>
                                        <a href="#">童书</a>
                                        <a href="#">童年书</a>
                                        <a href="#">黄书</a>
                                        <a href="#">哲学书</a>
                                        <a href="#">历史书</a>
                                        <a href="#">英语书文化</a>
                                        <a href="#">童书</a>
                                        <a href="#">童年书</a>
                                        <a href="#">黄书</a>
                                        <a href="#">哲学书</a>
                                        <a href="#">历史书</a>
                                        <a href="#" class="last-child">英语书文化</a>
                                    </dd>
                                </dl>
                            </div>
                            <div class="goods-category-cont">
                                <dl>
                                    <dt>草泥马</dt>
                                    <dd>
                                        <a href="#">童年书</a>
                                        <a href="#">黄书</a>
                                        <a href="#">哲学书</a>
                                        <a href="#">历史书</a>
                                        <a href="#">英语书文化</a>
                                        <a href="#">童书</a>
                                        <a href="#">童年书</a>
                                        <a href="#">黄书</a>
                                        <a href="#">哲学书</a>
                                        <a href="#">历史书</a>
                                        <a href="#">英语书文化</a>
                                        <a href="#">童书</a>
                                        <a href="#" class="last-child">童年书</a>


                                    </dd>
                                </dl>
                            </div>
                            <div class="goods-category-cont">
                                <dl>
                                    <dt>草泥马</dt>
                                    <dd>
                                        <a href="#">童年书</a>
                                        <a href="#">黄书</a>
                                        <a href="#">哲学书</a>
                                        <a href="#">历史书</a>
                                        <a href="#">英语书文化</a>
                                        <a href="#">童书</a>
                                        <a href="#">童年书</a>
                                        <a href="#">黄书</a>
                                        <a href="#">哲学书</a>
                                        <a href="#">历史书</a>
                                        <a href="#">英语书文化</a>
                                        <a href="#" class="last-child">童书</a>

                                    </dd>
                                </dl>
                            </div>

                        </div>
                        </div>
                        <div class="sub-category-cont hide">
                            <div class="goods-category-tag">
                            <a href="#">图书馆<span>></span></a>
                            <a href="#">图书馆<span>></span></a>
                        </div>
                        <div class="goods-category-items">
                            <div class="goods-category-cont">
                                <dl>
                                    <dt>排行榜</dt>
                                    <dd>
                                        <a href="#">童书</a>
                                        <a href="#">童年书</a>
                                        <a href="#">黄书</a>
                                        <a href="#">哲学书</a>
                                        <a href="#">历史书</a>
                                        <a href="#">英语书文化</a>
                                        <a href="#">童书</a>
                                        <a href="#">童年书</a>
                                        <a href="#">黄书</a>
                                        <a href="#">哲学书</a>
                                        <a href="#">历史书</a>
                                        <a href="#">英语书文化</a>
                                        <a href="#" class="last-child">童书</a>
                                    </dd>
                                </dl>
                            </div>
                            <div class="goods-category-cont">
                                <dl>
                                    <dt>草泥马</dt>
                                    <dd>
                                        <a href="#">童年书</a>
                                        <a href="#">黄书</a>
                                        <a href="#">哲学书</a>
                                        <a href="#">历史书</a>
                                        <a href="#">英语书文化</a>
                                        <a href="#">童书</a>
                                        <a href="#">童年书</a>
                                        <a href="#">黄书</a>
                                        <a href="#">哲学书</a>
                                        <a href="#">历史书</a>
                                        <a href="#">英语书文化</a>
                                        <a href="#">童书</a>
                                        <a href="#">童年书</a>
                                        <a href="#">黄书</a>
                                        <a href="#">哲学书</a>
                                        <a href="#">历史书</a>
                                        <a href="#">英语书文化</a>
                                        <a href="#">童书</a>
                                        <a href="#">童年书</a>
                                        <a href="#">黄书</a>
                                        <a href="#">哲学书</a>
                                        <a href="#">历史书</a>
                                        <a href="#">英语书文化</a>
                                        <a href="#">童书</a>
                                        <a href="#">童年书</a>
                                        <a href="#">黄书</a>
                                        <a href="#">哲学书</a>
                                        <a href="#">历史书</a>
                                        <a href="#" class="last-child">英语书文化</a>


                                    </dd>
                                </dl>
                            </div>
                            <div class="goods-category-cont">
                                <dl>
                                    <dt>排行榜</dt>
                                    <dd>
                                        <a href="#">童书</a>
                                        <a href="#">哲学书</a>
                                        <a href="#">历史书</a>
                                        <a href="#">英语书文化</a>
                                        <a href="#">童书</a>
                                        <a href="#">童年书</a>
                                        <a href="#">黄书</a>
                                        <a href="#">哲学书</a>
                                        <a href="#">历史书</a>
                                        <a href="#">英语书文化</a>
                                        <a href="#">童书</a>
                                        <a href="#">童年书</a>
                                        <a href="#">黄书</a>
                                        <a href="#">哲学书</a>
                                        <a href="#">历史书</a>
                                        <a href="#" class="last-child">英语书文化</a>
                                    </dd>
                                </dl>
                            </div>
                            <div class="goods-category-cont">
                                <dl>
                                    <dt>草泥马</dt>
                                    <dd>
                                        <a href="#">童年书</a>
                                        <a href="#">黄书</a>
                                        <a href="#">哲学书</a>
                                        <a href="#">历史书</a>
                                        <a href="#">英语书文化</a>
                                        <a href="#">童书</a>
                                        <a href="#">童年书</a>
                                        <a href="#">黄书</a>
                                        <a href="#">哲学书</a>
                                        <a href="#">历史书</a>
                                        <a href="#">英语书文化</a>
                                        <a href="#">童书</a>
                                        <a href="#" class="last-child">童年书</a>


                                    </dd>
                                </dl>
                            </div>
                            <div class="goods-category-cont">
                                <dl>
                                    <dt>草泥马</dt>
                                    <dd>
                                        <a href="#">童年书</a>
                                        <a href="#">黄书</a>
                                        <a href="#">哲学书</a>
                                        <a href="#">历史书</a>
                                        <a href="#">英语书文化</a>
                                        <a href="#">童书</a>
                                        <a href="#">童年书</a>
                                        <a href="#">黄书</a>
                                        <a href="#">哲学书</a>
                                        <a href="#">历史书</a>
                                        <a href="#">英语书文化</a>
                                        <a href="#" class="last-child">童书</a>

                                    </dd>
                                </dl>
                            </div>

                        </div>
                        </div>
                    </div>

                </div>
                <div class="book-category">
                    <ul>

                        <li><a href="#">唯品会</a></li>
                        <li><a href="#">图书</a></li>
                        <li><a href="#">电子书</a></li>
                        <li><a href="#">小黄书</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <div class="bottom-bar bg-gray">
        <div class="common-width">
            <ul>
                <li><a href="#">童书书</a></li>
                <li><a href="#">童书</a></li>
                <li><a href="#">童书</a></li>
                <li><a href="#">童书书</a></li>
                <li><a href="#">童书</a></li>
                <li><a href="#">童书</a></li>
                <li><a href="#">童书</a></li>
                <li><a href="#">童书</a></li>
                <li><a href="#">童书书</a></li>
                <li><a href="#">童书</a></li>
                <li><a href="#">童书</a></li>
                <li><a href="#">童书书书</a></li>
                <li><a href="#">童书</a></li>
            </ul>
        </div>

    </div>
</div>
<!--header end-->